@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f3f4ec;
}

* {
    box-sizing: border-box;
}

.Karla {
    font-family: 'Karla', sans-serif;
}

.Belleza {
    font-family: 'Belleza', sans-serif;
}

.borderBlack {
    border-bottom: 1px solid #fff;
}

.borderBlack:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
    width: max-content;
}

.navbar {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.widget {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.borderWd{
    border-bottom: 1px solid gray;
}

@layer components {
    .padding-container {
        @apply px-10 lg:px-8 xl:px-6 transition-all;
    }

    .regular-16-belleza {
        @apply text-[16px] text-gray-gray Belleza;
    }

    .regular-14-karla {
        @apply text-[14px] Karla font-[300];
    }
}